<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">

  <h1>Sign Up</h1>
  <p>Click on this paragraph.</p>
  <%= form_for @user, users_path => 'user_create', :validate => true do |f| %>
    <p> Username:</br> <%= f.text_field :username, :required => true%> </p>
    <p> Email:</br> <%= f.text_field :email, :required => true%> </p>
    <p> Password:</br> <%= f.password_field :password, :required => true%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation,:required => true  %> </p>
    <%= f.submit 'Signup' %>
    <%end%>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
